body {
    position: relative;
    background: url('../assets/dev-image.jpg') center / cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(4, 12, 30, 0.75)
}

#root {
  position: relative;  
}

.App {
  color: white;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: auto;
  padding: 20px 0 10px;
  color: white;
}
.App-header h2 {
  margin: 0 0 10px 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
